
.btn-user{
background-color: transparent;
margin-top: -3px;
outline:none;

}

.btn-user:active, [type="submit"]:focus{
  background-color: transparent;
  margin-top: -3px;
  outline:none;
  
  }
.btn-user:hover{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.dropdown:hover{
    color:#212529;
    background-color:#e2e6ea;
    border-color:#dae0e5;
  }
  
  
  .fa-bell-o{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 20px;
    /*color: rgb(193, 193, 190);*/
    color: #fff;
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 6px;
    /*border-right: #999 solid 1px;*/
    /*border-left: #999 solid 1px;*/
  }
  .btn-plus{
    margin-left: 760px;
  }
  .fa-user-circle-o{
    /*color: rgb(193, 193, 190);*/
    color: #fff;
    font-size: 20px;
    margin-top: 6px;

  }
 .dropdown:hover{
     color:#fff;
     /*background-color:#e2e6ea;*/
     background-color: #242424;
     border-color:#242424;
   }
  .new-nav{
    margin-right: 90px;
    border: none;
  }
   
  .btn-outline-secondary:hover{
    background-color: #fff;
    color: #333;
  }

  .jaiz{
    margin-right: 28px;
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    font-size: 17px;
  }

  .jaiz a:hover{
     text-decoration: none; 
  }

  .btn-reset{
    float: right;
  }
  .card-filter{
    border-radius: 30px;
  }
  .source{
    /*margin-left: 150px;*/
  }
.overflowing-col{
  padding-top: 5.3%;
}
.border-class{
  /*border-right: 3px solid #000;*/
  border-right: 2px solid #dfdfdf;
}
.nav-2{
  margin-top: 5em;
} 
.row-chart{
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
.row-chart-end{
  border-bottom: 1px solid #000;
}
.col-row{
  border-right: 1px solid #000;
}
.progress{
  margin-top: 0%;
  height: 25px;
  margin-left: -2%;
}

.img-sav{
 margin: auto;
 display: block;
 padding-top: 10%;
}

.form-control{
  width: 40%;
  margin: auto;
 display: block;
 margin-top: 40px;
 border-radius: 0;
 box-shadow: none;
 
}

/* .btn-success{
  margin-left: 70%;
  margin-top: -76px;;
  border-radius: 0;
} */

.form-control:focus{
  outline:0;
}

.btn-success:focus {outline:0;}

h3{
  text-align: center;
}

.pagination{
  justify-content: center;
  margin-top: -33px;
}

.button-group{
  margin-bottom: 60px;
}

body{
  overflow-y: scroll;
}

/* .gt{
  margin-left: 70px;
}

.one{
  margin-left: -70px;
} */

.fa-search{
  margin-left: 200%;
  margin-top: -4%;
 
}

.wow{
  margin-left: 7%;
}
.form-control-lg{
 margin-left: 150%;
 margin-top: -50px;
}

hr{
  width: 80%;
}

.fa-check-circle{
  color: cornflowerblue;
}


/* .word{
  margin-left: 10%;
} */
.tadjust{
  background-color: #333333;
  color: #dae0e5;
  height:60px;
}

.oll{
  line-height: 400%;
}

.tadjust:hover{
  background-color: #333333;
  color: #dae0e5;
}

.okk{
  color: green;
}

.t4{
  padding-top:8px;
}

.il{
  margin-top: -7px;
}

input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 2;
}


  @media screen and (max-width:600px){
  
   .source{
     text-align: left;
     padding-top: 10%;
   }
   .overflowing-col{
  padding-top: 3%;
}
    .border-class{
      border-right: none;
      /*border-right: 2px solid #dfdfdf*/
    } 
   
 }
