body {
  font-size: .875rem;
  margin-bottom: 5px; 
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  margin-top: 50px;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar{
  background-color: #242424;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/* .btn-group{
  margin-left: 5px;
  margin-bottom: -100px;
} */



.btn1{
  margin-left: 10px;
  margin-bottom: -200px;
}
.tach{
  color: green;
}
.trial{
  margin-left: 50px;
}

.-brand{
  background-color:#000;
  text:#fff;
}
.btn-outline-dark{
  margin-right: 5px;
}
/* .btn-outline-danger:hover{
  color:#dc3545;
  background-color:#fff;
  border-color:#dc3545  
}
.btn-outline-danger{
  background: #fff;
  text-decoration: none;
} */
.facebook{
  color: blue;
  font-size: 24px;
}
.twitter{
  color:#0084b4;
  font-size: 24px;
}
.mr-auto{
  padding-top:5px;
  
}

.btn-plus{
  margin-left: 760px;
}
.fa-user-circle-o{
  /*color: rgb(193, 193, 190);*/
  color: #fff;
}
img{
 /* width: 337px;
  height: 249px;
*/
}
.fa-user-circle-o{
  margin-bottom: 5px;
}

.img-01{
  height: 24px;
  margin-left: 10%;
}
.img-00{
  margin-top: -42px;
}

.lol1{
  height: 70px;
}
.card-img-top{
  height: 60px;
}

.first-card{
 /*padding-top: 8px;*/
 background-color: #3b5998;
 border-radius: 0;
}
.second-card{
  /*padding-top: 8px;*/
  background-color: #55acee;
  border-radius: 0;
}
.third-card{
  /*padding-top: 25px;*/
  background-color: #714778;
  border-radius: 0;
}
.first-card, .second-card, .third-card{
  padding-top: 25px;
  /*margin-top: 3em;*/
}
.btn-connect-1{
  background-color: #3b5998;
  color: #fff;
  width: 100%;
  border: 2px solid #3b5998;
  box-shadow:  4px 4px 7px #333;
}
.btn-connect-2{
  background-color: #55acee;
  color: #fff;
  width: 100%;
  border: 2px solid #55acee;
  box-shadow:  4px 4px 7px #333;
}
.btn-connect-3{
  background-color: #714778;
  color: #fff;
  width: 100%;
  border: 2px solid #714778;
  box-shadow:  4px 4px 7px #333;
}
 .sidebar2{
  background-color: #f2f2f2;
  height: 580px;
  padding-top: 5%;
}
.btn-active{
   background-color: #e0e0e0;
   border-radius: 0;
}
.img-adjust{
  height: 35px;
  width: 35px;
  margin-left: 50px;
}
.img-adjustable{
  height: 45px;
  width: 45px;
  margin-left: 50px;
  margin-top:8px;
}
.table-active{
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #666;
}
.modal-content{
  /*height: 100%;*/
}
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    /*height: 680px;*/
    overflow-y: auto;
}
.push{
  margin-top: 5em;
  padding-right: 30px;
}
.qwe{
  text-align: left;
}
.modal-body{
  padding-top: 0;
}
.fa-trash-o{
  margin-left: -50px;
  font-size: 18px;
}
.fa-user-circle{
  margin-left: -32px;
  font-size: 18px;
}

.btn-user{
  background-color: transparent;
  margin-top: -3px;
  
  }
  .btn-user:hover{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .dropdown:hover{
    color:#fff;
    /*background-color:#e2e6ea;*/
    background-color: #242424;
    border-color:#242424;
  }
    
    
    .fa-bell-o{
      padding-left: 4px;
      padding-right: 4px;
      font-size: 30px;
      /*color: rgb(193, 193, 190);*/
      color: #fff;
      /*margin-left: 40px;*/
      /*margin-right: 30px;*/
      /*border-right: #999 solid 1px;*/
      /*border-left: #999 solid 1px;*/
    }

    .navbar-collapse{
      
    }
    
#square {
	width: 50px;
	height: 100px;
  background: red;
  
}

.btn-reset{
  float: right;
}
.card-filter{
  border-radius: 30px;
}
.source{
  /*margin-left: 150px;*/
}

.new-nav{
  margin-right: 90px;
}
.jaiz{
  margin-right: 30px;
}

.profile {
color: #fff;
text-decoration: none;
}

.profile:hover{
  color: #fff;
  text-decoration: none;
  }
  .dropdown:hover{
      color:#fff;
      /*background-color:#e2e6ea;*/
      background-color: #242424;
      border-color:#242424;
    }

@media screen and (max-width:450px){
  
 .btn-plus{
   margin-left: 250px;
 }
 
   .fa-bell-o{
     margin-left: 10px;
     margin-right: 0;
   }
 
   .nav-item{
     margin-bottom: 5px;
   }
 
   .navbar-nav li button{
     float: left;
   }
   .source{
     /*margin-left: -150px;*/
   }
  }