body {
  font-size: .875rem;
  margin-bottom: 5px; 
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  margin-top: 60px;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/* .btn-group{
  margin-left: 5px;
  margin-bottom: -100px;
} */


.dropdown:hover{
  color:#212529;
  background-color:#e2e6ea;
  border-color:#dae0e5;
}


.fa-bell-o{
  font-size: 30px;
  color: rgb(193, 193, 190);
  margin-left: 40px;
  margin-right: 30px;
}
.btn1{
  margin-left: 10px;
  margin-bottom: -200px;
}
.tach{
  color: green;
}
.trial{
  margin-left: 50px;
}

.navbar-brand{
  background-color:#000;
  text:#fff;
}
.btn-outline-dark{
  margin-right: 5px;
}
/* .btn-outline-danger:hover{
  color:#dc3545;
  background-color:#fff;
  border-color:#dc3545  
}
.btn-outline-danger{
  background: #fff;
  text-decoration: none;
} */
.facebook{
  color: blue;
  font-size: 24px;
}
.twitter{
  color:#0084b4;
  font-size: 24px;
}
.btn-user{
background-color: transparent;

}
.btn-user:hover{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.mr-auto{
  padding-top:10px;
}

.btn-plus{
  margin-left: 760px;
}
.fa-user-circle-o{
  color: rgb(193, 193, 190);
}