body{
    background-color: #F7F7F7;
}

.h_1{
    margin-left: 30%;
}

h3{
    margin-right: 20%;
}
.wow{
  margin-left: -3em,
}

.icons{
    list-style-type: none;
}

.hr_1{
    width: 100%;
}

.first_div{
    background-color: white;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
   
    padding: 12px 20px 12px 40px;
    
}

.card{
    border-radius: 0;
}
.shift{
    margin-left: 50%;
}

input[type=text]:focus {
    width: 100%;
}

.second_div{
    margin-left: -1em;
}

.details{
    margin-top: -1em;
}

.ul li{
    list-style-type: none;
    display: inline;
}

.inbox{
    color: #3B3B3B;
}

.inbox:hover{
    text-decoration: none;
    color: #3B3B3B;
}

.fa-envelope-open{
    color: #3B3B3B;
}

.unread{
    color: #3B3B3B;
}

.unread:hover{
    text-decoration: none;
    color: #3B3B3B;

}

.fa-envelope-open{
    color: #3B3B3B;
}

.fav{
    color: #3B3B3B;
}

.fav:hover{
    text-decoration: none;
    color: #3B3B3B;

}

.fa-star{
    color: #ED8A19;
}

.arch{
    color: #3B3B3B;
}

.arch:hover{
    text-decoration: none;
    color: #3B3B3B;


}

.fa-archive{
    color: #3B3B3B;
}

.trash{
    color: #3B3B3B;
}

.trash:hover{
    text-decoration: none;
    color: #3B3B3B;
}

.fa-trash{
    color: #3B3B3B;
}

.spam{
    color: #3B3B3B;
}

.spam:hover{
    text-decoration: none;
    color: #3B3B3B;
}

.fa-exclamation-circle{
    color: #3B3B3B;
}






.ul_0{
    margin-left: 40%;
}

.ul_2{
    margin-left: 23%;
}

.hr_2{
    width: 100%;
    margin-left: -2em;
}
.ol li{
    list-style-type: none;
    display: inline;
    margin-right: 15%;
}

.ol{
    margin-left: -4em;
}

.lol{
    background-color: white;
    height: 5%;
    margin-left: -1.8em;
}
.fa-circle{
    color: green;
}

.lol_0{
    margin-left: -1em;
}
.check{
    margin-left: 2em;
}


.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
  