html,body{
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #f2f2f2;
}
.dropdown:hover{
    color:#fff;
    /*background-color:#e2e6ea;*/
    background-color: #242424;
    border-color:#242424;
  }

.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.big-font{
    font-size: 36px;
    text-align: center;
    color: #333333;
}

.text-content{
    color: #828282;
    text-align: center;
}

.text-border{
    padding: 1px 90px; 
      
}

.text{
    font-size: 50px;
    color: #F2F2F2;
    text-align: center;
    margin:auto;
}

.red{
    background-color: #C95D5D;
}

.gold{
    background-color: #E69E5E;
    padding: 1px 77px;
}

.green{
     background-color: #448760;
}

.gray{
    background-color:#7A7373;
}

.blue{
    background-color: #2E6C8F;
}

.gray-light{
    background-color: #ABA8A6;
}

.purple{
    background-color: #A177C7;
}

.yellow{
    background-color: #C7A642;
}

.light-green{
    background-color: #6FCF97;
}

/*REACH*/
.thumbnail-image{
    margin-top: 50%;
    margin-bottom: 50%;
}

.page-link:hover{
    background-color: #fff;
    outline: none;
}
a:hover{
    text-decoration: none;
}


@media only screen and (max-width: 600px){
    .container{
        width: 90%;
        margin-left: 3%;
        /*display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;*/
    }
    .container-1{
        margin-left: 6%;
    }
}



@media only screen and (max-width: 1024px){
    

    .side-img{
        height: 613px;
        overflow-y: hidden;
    }
}
@media only screen and (max-width: 1440px){
    

    .side-img{
        height: 817px;
    }
}