.btn-confirm{
	width: 100%;
}
.password-navbar{
	padding:0 5%;
}
.navbar-brand{
	margin-left: 5%;
}
.send-div{
	margin: 2% 5% 0 5%;
	padding-bottom: 0;
}
.send-div-2{
	display: flex;
	margin: 0% 5% 0 5%;
	padding: 5% 18% 5% 18%;
}
.send-div-2-diff{
	display: flex;
	margin: 0% 5% 0 5%;
	padding: 2% 18% 2% 18%;
}
.reset-form{
	display: flex;
	margin: 0 5%;
}
.reset-form-2{
	display: block;
	margin: 0 5%;
}
.g-recaptcha{
	/*padding-left: 20%;*/
	margin-bottom: 4%;
	display: flex;
	justify-content: space-around;
}
.field{
	margin-bottom: 5%;
}

input::placeholder {
	font-size: 16px;
	
  }






@media(min-width:576px) and (max-width:768px){
	.password-navbar{
		padding: 2% 5%;
	}
	.navbar-brand{
		margin-left: 1%;
	}
	.password-texts-1{
		font-size: 2.5em;
	}
	.password-texts{
		padding: 0 8%;
		margin-bottom: 12%;
	}
	.noun-img{
		width: 100px;
	}
	.send-div-2{
		display: block;
		margin: 0%;
		padding: 5% 0%;
	}
	.send-div-2-diff{
		display: block;
		margin: 0% 5% 0 5%;
		padding: 5% 2% 5% 2%;
	}
	.reset-form{
		display: block;
		margin: 0 5%;
	}
	.btn-submit{
		width: 100%;
		margin-top: 5%;
	}
	.g-recaptcha{
		/*padding-left: -20%;*/
		margin-bottom: 6%;
		display: block;
	}
	.field{
		margin-bottom: 13%;
	}

}

@media(min-width:410px)and (max-width:575px){
	.password-navbar{
		padding: 1% 5%;
	}
	.navbar-brand{
		margin-left: 0%;
	}
	.password-texts-1{
		font-size: 2em;
	}
	.password-texts{
		padding: 0 8%;
		margin-bottom: 10%;
	}
	.noun-img{
		width: 50px;
	}
	.send-div-2{
		display: block;
		margin: 0%;
		padding: 5% 0%;
	}
	.send-div-2-diff{
		display: block;
		margin: 0% 5% 0 5%;
		padding: 5% 2% 5% 2%;
	}
	.reset-form{
		display: block;
		margin: 0 5%;
	}
	.btn-submit{
		width: 100%;
		margin-top: 5%;
	}
	.g-recaptcha{
		margin-bottom: 6%;
		display: block;
	}
	.field{
		margin-bottom: 10%;
	}

}

@media (max-width:400px){
	.password-navbar{
		padding: 1% 5%;
	}
	.navbar-brand{
		margin-left: 0%;
	}
	.password-texts-1{
		font-size: 2em;
	}
	.password-texts{
		padding: 0 8%;
		margin-bottom: 10%;
	}
	.noun-img{
		width: 50px;
	}
	.send-div-2{
		display: block;
		margin: 0%;
		padding: 5% 0%;
	}
	.send-div-2-diff{
		display: block;
		margin: 0%;
		padding: 5% 0% ;
	}
	.reset-form{
		display: block;
		margin: 0 5%;
	}
	.btn-submit{
		width: 100%;
		margin-top: 5%;
	}
	.g-recaptcha{
		margin-bottom: 6%;
		display: block;	
	}
	.field{
		margin-bottom: 10%;
	}

}